/* 欢迎使用guiPlan,以下代码均由guiPlan软件生成，如有疑问添加添加作者微信guiplan或加入学习交流qq群711964722  */
.main {
    margin: 0px;
    padding: 0px;
}

.indexhtmlcssStart {}

.uvPTMQn {
    height: calc(58% - .15rem)
}

.uxsptf9 {
    height: calc(42% - .15rem)
}

.uClqtFB {
    height: calc(20% - .15rem)
}

.uTX832W {
    height: calc(38% - .15rem)
}

.u2ItBCC {
    height: calc(42% - .15rem)
}

.uNdUzkJ {
    height: calc(33.333% - .15rem)
}

.u4JwLlP {
    height: calc(33.333% - .15rem)
}

.uxu7xVP {
    height: calc(33.333% - .15rem)
}

.ulahbbv {
    height: calc(100% - .3rem);
}

.indexhtmlcssEnd {}